[submodule "reference/build-nanogpt"]
	path = reference/build-nanogpt
	url = https://github.com/karpathy/build-nanogpt.git
[submodule "reference/llm.c"]
	path = reference/llm.c
	url = git@github.com:TimS-ml/llm.c.git
[submodule "reference/BareGPT"]
	path = reference/BareGPT
	url = https://github.com/dbrll/BareGPT.git
[submodule "nanuGPT"]
	path = reference/nanuGPT
	url = https://github.com/sytelus/nanuGPT.git
[submodule "reference/modded-nanogpt"]
	path = reference/modded-nanogpt
	url = https://github.com/KellerJordan/modded-nanogpt.git
